@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Quicksand:400,700&display=swap&subset=latin-ext');

:root {
    --background: #232946;
    --card-bg: #f9bc60;
    --buton-bg: #b8c1ec;
    --font-color: #232946;
    --headline: #fffffe;
    --link: #49ba70;
    --light: #fffffe;
}

.light {
    color: var(--light);
    line-height: 24px;
}

.light h1 {
    color: var(--card-bg);
}

.title {
    font-family: 'Quicksand', sans-serif;
    color: var(--headline);
    font-size: 40px;
    line-height: 45px;
    margin: 20px auto;
}

ul#code-list {
    list-style-type: none;
    display: block;
    padding: 0;
    height: 6.5rem;
    margin-bottom: 10px;
}

ul#code-list > li {
    float: left;
    width: 6rem;
    margin: 5px;
    padding: 5px;
    height: 6rem;
}

.frame {
    margin: 1rem;
}

.card {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border: 2px solid Black;
    overflow: visible;
    box-shadow: 5px 5px 2px #888888;
    position: relative;
}

.card-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain
}

.close {
    position: absolute;
    color: gray;
    top: -10px;
    right: -10px;
}

.grid-container {
    width: 80vw;
    display: grid;
    grid-template-columns: 400px 80px 480px;
    grid-auto-rows: 480px 200px 120px;
    justify-content: center;
    margin: 0 auto;
}

.grid-item {
    object-fit: contain;
    display: block;
}

.game-container {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    align-self: center;
}

.video-container {
    float: left;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    align-self: start;
    justify-self: start;
}

.code-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: start;
    height: 200px;
    border: 1px solid #999999;
    overflow-y: auto;
}

.level-container {
    color: whitesmoke;
    width: 100%;
    grid-column: 1 / 4;
    border-radius: 4px;
    margin-top: 10px;
    grid-row: 3 / 4;
    align-self: start;
    justify-self: start;
    text-align: start;
    padding: 15px;
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.run-button-container {
    cursor: pointer;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: center;
}