body {
    padding-top: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

ul#code-list {
    list-style-type: none;
    display: block;
    padding: 0;
    height: 6.5rem;
    margin-bottom: 10px;
}

ul#code-list>li {
    float: left;
    width: 6rem;
    margin: 5px;
    padding: 5px;
    height: 6rem;
}

.frame {
    margin: 1rem;
}

.card {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border: 2px solid Black;
    overflow: visible;
    box-shadow: 5px 5px 2px #888888;
    position: relative;
}

.card-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain
}

.close {
    position: absolute;
    background: red;
    color: white;
    top: -10px;
    right: -10px;
}

.container {
    height: 96vh;
    max-height: 96vh;
    justify-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 40% 10% 50%;
    grid-auto-rows: 70% 30%;
}

.grid-item {
    border: 1px solid #999999;
    object-fit: contain;
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.game-container {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.video-container {
    float: left;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.code-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.run-button-container {
    cursor: pointer;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}