@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Quicksand:400,700&display=swap&subset=latin-ext');

:root{
    --background : #232946;
    --card-bg: #f9bc60;
    --buton-bg : #b8c1ec;
    --font-color : #232946;
    --headline : #fffffe;
    --link : #49ba70;
    --light : #fffffe;
}

.light {
    color: var(--light);
    line-height: 24px;
}

.light h1 {
    color: var(--card-bg);
}

body {
    background-color: var(--background);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.google-slides-container{
    position: relative;
    width: 100%;
    padding-top: 60%;
    overflow: hidden;
}

.google-slides-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.title{
    font-family: 'Quicksand', sans-serif;
    color: var(--headline);
    font-size: 40px;
    line-height: 45px;
    margin: 20px auto;
}

.card a:hover {
    background-color: var(--background);
    color: var(--link);
    transition: all 0.25s ease;
}

.card a {
    color: var(--link);
    font-weight: bold;
    transition: all 0.25s ease;
    font-family: 'Quicksand', sans-serif;
}

google-codelab #drawer ol li a:hover{
    background-color: var(--background);
    color: var(--link);
    transition: all 0.25s ease;
}

google-codelab #drawer ol li a {
    color: var(--background);
    transition: all 0.25s ease;
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
    position: relative;
    color: var(--link);
    font-family: 'Quicksand', sans-serif;
    line-height: 3vh;
}

a:after {
    content: '';
    display: block;
    border-bottom: calc(0.3em + 0.3vw) solid var(--card-bg);
    width: 0;
    position: absolute;
    left: 0;
    -webkit-transition: 1s ease;
    transition: 1s ease;
}

a:hover:after {
    width: 100%;
}

.container {
    max-width: 960px;
    padding: 0 25px 25px 25px;
    margin: 10px auto;
}

.grid {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 50px auto;
    color: var(--font-color);
}

.item{
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    flex: auto;
    justify-content: center;
}

.card {
    background: var(--card-bg);
    cursor: pointer;
}

.card img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.card h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    line-height: 32px;
    margin: 8px;
}

.card p {
    margin: 8px;
}

.card-link {
    float: right;
    margin: 20px;
}

.inner-text {
    font-weight: 600;
    font-size:16px;
    line-height: 20px;
}

.info {
    font-family: 'Space Mono', monospace;
    font-size: 12px;
}

.item-a {
    grid-column-start: 1;
    grid-column-end: span 4;
}

.item-a-1{
    grid-column-start: 1;
    grid-column-end: span 4;
}
.item-a-2 {
    grid-column-start: 1;
    grid-column-end: span 4;
}

.item-b {
    grid-column-start: 1;
    grid-column-end: span 4;
}

.item-c {
    grid-column-start: 1;
    grid-column-end: span 4;
}

.item-d {
    grid-column-start: 1;
    grid-column-end: span 4;
}

.item-e {
    grid-column-start: 1;
    grid-column-end: span 4;
}

.item-f {
    grid-column-start: 1;
    grid-column-end: span 4;
}

.item-g {
    grid-column-start: 1;
    grid-column-end: span 4;
}

.item-h {
    grid-column-start: 1;
    grid-column-end: span 4;
}

.item-i {
    grid-column-start: 1;
    grid-column-end: span 4;
}

.item-j {
    grid-column-start: 1;
    grid-column-end: span 4;
}

.item-k {
    grid-column-start: 1;
    grid-column-end: span 4;
}

.border-interrupt {
    background-color: var(--background);
}

@media (min-width: 980px) {
    .grid {
        max-width: 960px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        margin: 30px auto;
    }

    .item-a {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .item-a-1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .item-a-2 {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .item-b {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 5;
    }
    .item-c {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 5;
    }

    .item-d {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 8;
    }

    .item-e {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 8;
        grid-row-end: 11;
    }

    .item-f {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 8;
    }
    .item-g {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 8;
        grid-row-end: 11;
    }
    .item-h {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 8;
    }
    .item-i {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 8;
        grid-row-end: 11;
    }
    .item-j {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 11;
        grid-row-end: 12;
    }
    .item-k {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 12;
        grid-row-end: 13;
    }
    .mobile-message {
        display: none;
    }
}