body {
    padding-top: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

ul#codeList {
    list-style-type: none;
    display: block;
    padding: 0;
    height: 6.5rem;
    margin-bottom: 10px;
}

 ul#codeList > li{
    float: left;
    width: 6rem;
    margin: 5px;
    padding: 5px;
    height: 6rem;
}

ul#gameList{
    list-style-type: none;
    display: block;
    padding: 0;
    height: 6.5rem;
    margin-bottom: 10px;
}

ul#gameList > li{
    float: left;
    width: 6rem;
    margin: 5px;
    padding: 5px;
    height: 6rem;
}

.frame {
    margin: 1rem;
}
