@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Sedgwick+Ave&display=swap');

:root{
    --background : #232946;
    --card-bg: #f9bc60;
    --buton-bg : #b8c1ec;
    --font-color : #232946;
    --headline : #fffffe;
    --link : #49ba70;
    --light : #fffffe;
}

body {
    background-color: var(--background);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.title{
    font-family: 'Sedgwick Ave', serif;
    color: var(--headline);
    font-size: 36px;
    margin: 20px auto;
}

.box {
    padding: 16px;
    border: solid var(--card-bg);
    border-width: 8px 6px 5px 6px;
    border-radius:97% 3% 97% 2%/ 2% 98% 3% 98%;
    transform: rotate(-0.8deg);
}

.box-inner{
    margin:15px;
    transform: rotate(0.8deg);
}

.card {
    background: var(--card-bg);
    cursor: pointer;
}

.card a:hover {
    background-color: var(--background);
    color: var(--link);
    transition: all 0.25s ease;
}

.card a {
    color: var(--link);
    font-weight: bold;
    transition: all 0.25s ease;
    font-family: 'Quicksand', sans-serif;
}

.card img {
    max-width: 100%;
    max-height: 450px;
    display: block;
}

.card h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    line-height: 32px;
    margin: 8px;
}

.card p {
    margin: 8px;
}

.card-link {
    float: right;
    margin: 20px;
}

.container {
    max-width: 960px;
    padding: 0 25px 25px 25px;
    margin: 10px auto;
}


.light {
    color: var(--light);
    line-height: 24px;
}

.light h1 {
    color: var(--card-bg);
}

.link {
    text-decoration: none;
    position: relative;
    color: var(--link);
    font-family: 'Quicksand', sans-serif;
    line-height: 3vh;
}

.link:after {
    content: '';
    display: block;
    border-bottom: calc(0.3em + 0.3vw) solid var(--card-bg);
    width: 0;
    position: absolute;
    left: 0;
    -webkit-transition: 1s ease;
    transition: 1s ease;
}

.link:hover:after {
    width: 100%;
}

.grid {
    max-width: 960px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px auto;
    color: var(--font-color);
}

.item{
    max-width: 420px;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.inner-text {
    font-weight: 600;
    font-size:16px;
    line-height: 20px;
}

.info {
    font-family: 'Space Mono', monospace;
    font-size: 12px;
}

.item {
    grid-column-start: 1;
    grid-column-end: span 4;
}

.border-interrupt {
    background-color: var(--background);
}

google-codelab #drawer ol li a:hover{
    background-color: var(--background);
    color: var(--link);
    transition: all 0.25s ease;
}

google-codelab #drawer ol li a {
    color: var(--background);
    transition: all 0.25s ease;
    font-family: 'Quicksand', sans-serif;
}

.google-slides-container{
    position: relative;
    width: 100%;
    padding-top: 60%;
    overflow: hidden;
}

.google-slides-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#tmin {
    height: 21px;
    display:table-cell;
    width:90%
}

#tmin::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--buton-bg);
    opacity: 1; /* Firefox */
}

#tmin:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--buton-bg);
}

#tmin::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--buton-bg);
}


@media (max-width: 450px) {
    body {
        min-width: 320px;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin: 30px auto;
    }

    .item {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .mobile-message {
        display: none;
    }
}